* {
  box-sizing: border-box;
  font-family: "Familjen Grotesk", sans-serif;
  font-family: "Roboto", sans-serif;
}

#task {
  max-width: 500px;
  text-align: justify;
  overflow: hidden;
}

body {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}

/* table {
  table-layout: fixed;
  border-collapse: collapse;
}
/* td {
  background: #f00;
  padding: 20px;
  overflow: hidden;
  white-space: nowrap;
  width: 100px;
  border: solid 1px #000;
} */
*/ td {
  font-size: bold;
}
table {
  background: rgba(19, 40, 76, 0.442);
  border-radius: 5%;
  box-shadow: 10, 10, 10;
}

.todo {
}
